nav {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

nav a {
  background-color: gray;
  padding: 1%;
}

header {
  background-color: black;
  padding: 1px;
}

P {
  background-color: red;
  padding: 2%;
}

.P2 {
  background-color: blue;
  float: right;
  display: flex;
  margin-bottom: 3cm;
  width: 40%;
}

img src {
  float: right;
}

.two-column {
  display: flex;
  justify-content: space-between;
}

nav b {
  display: flex;
  justify-content: space-between;
}

h1 {
  background-color: grey;
}

.scroll-container {
  overflow-y: scroll;
  width: 30%;
  height: 200px;
}

.main {
  overflow-y: scroll;
  width: 30%;
  height: 200px;
}

.P3 {
  background-color: beige;
  padding: 3%;
}

.Grid {
  display: grid;
  border: 5px solid black;
}

