nav {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

nav a {
  background-color: gray;
  padding: 1%;
}

header {
  background-color: black;
  margin-top: 20px;
}

P {
  background-color: red;
  padding: 2%;
  width: 30%;
}

.P2 {
  background-color: blue;
  float: right;
  display: flex;
}

img src {
  float: right;
}

.two-column {
  display: flex;
  justify-content: space-between;
}

nav b {
  display: flex;
  justify-content: space-between;
}