nav {
  background-color: black;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  padding: 10;
}

nav a {
  background-color: gray;
  padding: 2%;
}

P {
  background-color: red;
  padding: 2%;
}

img src {
  float: right;
}
